{{ template "header.html" . }}
{{ template "return_header" . }}
<div class="ui raised segment">
    <form action="/newmotion/" method="post">
        {{ csrfField }}
        <div class="ui form{{ if .Form.Errors }} error{{ end }}">
            <div class="three fields">
                <div class="field">
                    <label>ID:</label>
                    (generated on submit)
                </div>
                <div class="field">
                    <label>Proponent:</label>
                    {{ .Voter.Name }}
                </div>
                <div class="field">
                    <label>Proposed date/time:</label>
                    (auto filled to current date/time)
                </div>
            </div>
            <div class="required field{{ if .Form.Errors.Title }} error{{ end }}">
                <label for="Title">Title:</label>
                <input id="Title" name="Title" type="text" value="{{ .Form.Title }}">
            </div>
            <div class="required field{{ if .Form.Errors.Content }} error{{ end }}">
                <label for="Content">Text:</label>
                <textarea id="Content" name="Content">{{ .Form.Content }}</textarea>
            </div>
            <div class="two fields">
                <div class="required field{{ if .Form.Errors.VoteType }} error{{ end }}">
                    <label for="VoteType">Vote type:</label>
                    <select id="VoteType" name="VoteType">
                        <option value="0"
                                {{ if eq "0" .Form.VoteType }}selected{{ end }}>
                            Motion
                        </option>
                        <option value="1"
                                {{ if eq "1" .Form.VoteType }}selected{{ end }}>
                            Veto
                        </option>
                    </select>
                </div>
                <div class="required field{{ if .Form.Errors.Due }} error{{ end }}">
                    <label for="Due">Due: (autofilled from chosen
                        option)</label>
                    <select id="Due" name="Due">
                        <option value="+3 days">In 3 Days</option>
                        <option value="+7 days">In 1 Week</option>
                        <option value="+14 days">In 2 Weeks</option>
                        <option value="+28 days">In 4 Weeks</option>
                    </select>
                </div>
            </div>
            {{ with .Form.Errors }}
                <div class="ui error message">
                    {{ with .Title }}<p>{{ . }}</p>{{ end }}
                    {{ with .Content }}<p>{{ . }}</p>{{ end }}
                    {{ with .VoteType }}<p>{{ . }}</p>{{ end }}
                    {{ with .Due }}<p>{{ . }}</p>{{ end }}
                </div>
            {{ end }}
            <button class="ui button" type="submit">Propose</button>
        </div>
    </form>
</div>
{{ template "footer.html" . }}