{{ template "header.html" . }}
<div class="ui container">
    <div class="ui negative icon message">
        <i class="ban icon "></i>
        <div class="content">
            <div class="header">You are not authorized to act here!</div>
            <p>If you think this is in error, please contact the administrator.</p>
            <p>If you don't know who that is, it is definitely not an error ;)</p>
            {{ if .Emails }}
                <p>The following addresses were present in your certificate:<p>
                <div class="ui list">
                    {{ range .Emails }}
                        <div class="item">
                            <i class="address card outline icon"></i>
                            <div class="content">{{ . }}</div>
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </div>
</div>
{{ template "footer.html" . }}