{{ template "header.html" . }}
{{ template "return_header" . }}
{{ with .Decision }}
    <div class="ui raised segment">
        {{ template "motion_fragment" . }}
    </div>
{{ end }}
<form action="/vote/{{ .Decision.Tag }}/{{ .VoteChoice }}" method="post">
    {{ csrfField }}
    <div class="ui form">
        {{ if eq 1 .VoteChoice }}
            <button class="ui right labeled green icon button" type="submit"><i class="check circle icon"></i>
                Vote {{ .VoteChoice }}</button>
        {{ else if eq -1 .VoteChoice }}
            <button class="ui right labeled red icon button" type="submit"><i class="minus circle icon"></i>
                Vote {{ .VoteChoice }}</button>
        {{ else }}
            <button class="ui right labeled grey icon button" type="submit"><i class="circle icon"></i>
                Vote {{ .VoteChoice }}</button>
        {{ end }}
    </div>
</form>
{{ template "footer.html" . }}