{{ define "header.html" -}}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>{{ block "pagetitle" . }}CAcert Board Decisions{{ end }}{{ if .PageTitle }} - {{ .PageTitle }}{{ end }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/lato-fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/semantic.min.css"/>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/semantic.min.js"></script>
    <link rel="icon" href="/static/images/favicon.ico">
</head>
<body id="cacert-boardvoting">
<div class="pusher">
    <div class="ui vertical masthead center aligned segment">
        <div class="ui left secondary container">
            <img src="/static/images/CAcert-logo-colour.svg" alt="CAcert" height="40rem"/>
        </div>
        <div class="ui text container">
            <h1 class="ui header">
                {{ template "pagetitle" . }}
                {{ if .Voter }}
                    <div class="ui left pointing label">Authenticated as {{ .Voter.Name }} &lt;{{ .Voter.Reminder }}&gt;
                    </div>{{ end }}
            </h1>
        </div>
    </div>
</div>
<div class="ui container">
    {{ with .Flashes }}
        <div class="basic segment">
            <div class="ui info message">
                <i class="close icon"></i>
                <div class="ui list">
                    {{ range . }}
                        <div class="ui item">{{ . }}</div>
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}
{{ end }}
