{{ template "header.html" . }}
{{ $voter := .Voter }}
<div class="ui basic segment">
    <div class="ui secondary pointing menu">
        <a href="/motions/" class="item" title="Show all votes">All votes</a>
        {{ if $voter }}
            <a href="/motions/?unvoted=1" class="item" title="Show my outstanding votes">My outstanding votes</a>
            <div class="right item">
                <a class="ui primary button" href="/newmotion/">New motion</a>
            </div>
        {{ end }}
    </div>
</div>
{{ with .Decision }}
    <div class="ui raised segment">
        {{ template "motion_fragment" . }}
        {{ if $voter }}{{ template "motion_actions" . }}{{ end }}
    </div>
{{ end}}
{{ template "footer.html" . }}