{{ define "pagination_fragment" }}
    {{ if .PrevPage -}}
        <a class="item" href="?page={{ .PrevPage }}{{ if .Params.Flags.Unvoted }}&unvoted=1{{ end }}">
            <i class="left arrow icon"></i> newer
        </a>
    {{- end }}
    {{ if .NextPage -}}
        <a class="right item" href="?page={{ .NextPage }}{{ if .Params.Flags.Unvoted }}&unvoted=1{{ end }}">
            <i class="right arrow icon"></i> older
        </a>
    {{- end }}
{{ end }}

{{ define "return_header" }}
    <div class="ui basic segment">
        <div class="ui secondary pointing menu">
            <a href="/motions/" class="item" title="Show all votes">Back to motions</a>
        </div>
    </div>
{{ end }}