{{ template "header.html" . }}
{{ template "return_header" . }}
{{ $form := .Form }}
<div class="ui raised segment">
    {{ with .Decision }}
        {{ template "motion_fragment" . }}
    {{ end }}
    <form action="/proxy/{{ .Decision.Tag }}" method="post">
        {{ csrfField }}
        <div class="ui form{{ if .Form.Errors }} error{{ end }}">
            <div class="two fields">
                <div class="required field{{ if .Form.Errors.Voter }} error{{ end }}">
                    <label for="Voter">Voter</label>
                    <select name="Voter">
                        {{ range .Voters }}
                            <option value="{{ .Id }}"
                                    {{ if eq (.Id | print) $form.Voter }}
                            selected{{ end }}>{{ .Name }}</option>
                        {{ end }}
                    </select>
                </div>
                <div class="required field{{ if .Form.Errors.Vote }} error{{ end }}">
                    <label for="Vote">Vote</label>
                    <select name="Vote">
                        <option value="1"{{ if eq .Form.Vote "1" }} selected{{ end }}>Aye</option>
                        <option value="0"{{ if eq .Form.Vote "0" }} selected{{ end }}>Abstain</option>
                        <option value="-1"{{ if eq .Form.Vote "-1" }} selected{{ end }}>Naye</option>
                    </select>
                </div>
            </div>
            <div class="required field{{ if .Form.Errors.Justification }} error{{ end }}">
                <label for="Justification">Justification</label>
                <textarea name="Justification" rows="2">{{ .Form.Justification }}</textarea>
            </div>
            {{ with .Form.Errors }}
                <div class="ui error message">
                    {{ with .Voter }}<p>{{ . }}</p>{{ end }}
                    {{ with .Vote }}<p>{{ . }}</p>{{ end }}
                    {{ with .Justification }}<p>{{ . }}</p>{{ end }}
                </div>
            {{ end }}
            <button class="ui primary left labeled icon button" type="submit"><i class="users icon"></i> Proxy Vote
            </button>
        </div>
    </form>
</div>
{{ template "footer.html" . }}