{{ template "header.html" . }}
{{ template "return_header" . }}
{{ with .Decision }}
    <div class="ui raised segment">
        {{ template "motion_fragment" . }}
    </div>
{{ end }}
<div class="ui basic segment">
    <form action="/motions/{{ .Decision.Tag }}/withdraw" method="post">
        {{ csrfField }}
        <div class="ui form">
            <button class="ui primary left labeled icon button" type="submit"><i class="trash icon"></i> Withdraw
            </button>
        </div>
    </form>
</div>
{{ template "footer.html" . }}